<mdc-card mdc-surface class="dashboard-card" [routerLink]="['/groups']" ngStyle.gt-md="width: 50%">
  <mdc-card-primary>
    <h1 mdc-card-title>Groups</h1>
  </mdc-card-primary>
  <mdc-card-supporting-text>
    Click here to see all available groups and chat within them.
  </mdc-card-supporting-text>
</mdc-card>
<mdc-card mdc-surface class="dashboard-card" [routerLink]="['/users']" ngStyle.gt-md="width: 50%">
  <mdc-card-primary>
    <h1 mdc-card-title>Users</h1>
  </mdc-card-primary>
  <mdc-card-supporting-text>
    Click here to see all users and edit them
  </mdc-card-supporting-text>
</mdc-card>
