<mdc-toolbar fixed="true">
  <mdc-toolbar-row>
    <mdc-toolbar-section alignStart="true">
      <button type="button" material-icon mdc-toolbar-menu-icon mdc-ripple (click)="toggleDrawer();" fxShow fxHide.gt-sm="true">menu</button>
      <button type="button" material-icon mdc-toolbar-menu-icon mdc-ripple (click)="logout();" fxHide fxShow.gt-sm="true" title="Sign out">lock</button>
      <mdc-toolbar-title>
        <span *ngIf="title">{{ title }}</span>
        <span *ngIf="!title">Slack</span>
      </mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section alignEnd="true">
      <div *ngFor="let item of toolbarItems">
        <a *ngIf="!item.route" (click)="item.onClick()">
          <div mdc-toolbar-icon material-icon [title]="item.title">{{ item.icon }}</div>
        </a>
        <a *ngIf="item.route" [routerLink]="[item.route]">
          <div mdc-toolbar-icon material-icon [title]="item.title">{{ item.icon }}</div>
        </a>
      </div>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
