<mdc-list twoLine="false" dense="true" class="chat-list">
  <mdc-list-item>
    <mdc-list-item-text>
      Hi 2
    </mdc-list-item-text>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-list-item-text>
      Hi3
    </mdc-list-item-text>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-list-item-text>
      Hi4
    </mdc-list-item-text>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-list-item-text>
      Hi5
    </mdc-list-item-text>
  </mdc-list-item>
  <mdc-list-item>
      <mdc-list-item-text>
        Hi6
      </mdc-list-item-text>
    </mdc-list-item>  <mdc-list-item>
        <mdc-list-item-text>
          Hi6
        </mdc-list-item-text>
      </mdc-list-item>  <mdc-list-item>
          <mdc-list-item-text>
            Hi6
          </mdc-list-item-text>
        </mdc-list-item>  <mdc-list-item>
            <mdc-list-item-text>
              Hi6
            </mdc-list-item-text>
          </mdc-list-item>  <mdc-list-item>
              <mdc-list-item-text>
                Hi6
              </mdc-list-item-text>
            </mdc-list-item>  <mdc-list-item>
                <mdc-list-item-text>
                  Hi6
                </mdc-list-item-text>
              </mdc-list-item>  <mdc-list-item>
                  <mdc-list-item-text>
                    Hi6
                  </mdc-list-item-text>
                </mdc-list-item>  <mdc-list-item>
                    <mdc-list-item-text>
                      Hi6
                    </mdc-list-item-text>
                  </mdc-list-item>  <mdc-list-item>
                      <mdc-list-item-text>
                        Hi6
                      </mdc-list-item-text>
                    </mdc-list-item>  <mdc-list-item>
                        <mdc-list-item-text>
                          Hi6
                        </mdc-list-item-text>
                      </mdc-list-item>  <mdc-list-item>
                          <mdc-list-item-text>
                            Hi6
                          </mdc-list-item-text>
                        </mdc-list-item>
</mdc-list>
