<mdc-list twoLine="true" dense="true" class="chat-list">
  <mdc-list-item *ngFor="let chatMessage of messages">
    <div mdc-list-item-end *ngIf="chatMessage.from.id === currentUserId">
      <ng-container *ngTemplateOutlet="textBlock"></ng-container>
    </div>
    <div mdc-list-item-start *ngIf="chatMessage.from.id !== currentUserId">
      <ng-container *ngTemplateOutlet="textBlock"></ng-container>
    </div>
    <ng-template #textBlock>
        {{ chatMessage.message }}
    </ng-template>
  </mdc-list-item>
</mdc-list>
