<div fxLayout="column">
  <mdc-list>

    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Some group name
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item>
      <mdc-icon mdc-list-item-start>data_usage</mdc-icon>Data Usage
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
  </mdc-list>
</div>
